.menu {
    position: relative;
    left: 20px;
    margin-bottom: 10px;
}

.menu__item {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-right: 15px;  
}

.menu__item:last-of-type {
    margin-right: 0;
}

.menu__item_active {
    font-weight: bold;
    font-size: 26px;
}

@media screen and (max-width: 950px) {
    .menu {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0,0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu__link {
        margin-right: 0;
    }
}